<form action="/students/<%= students.id %>" method="POST">

	<% if (edit) { %>
		<input type="hidden" name="_method" value="PUT">
	<% } %>
	
	<input type="text" name="firstname" placeholder="fname" value="<%= students.firstname%>" required/>
	<input type="text" name="secondname" placeholder="surname" value="<%= students.secondname%>" required/>
	<input type="text" name="Year" placeholder="Year" value="<%= students.Year%>" required/>


	<input type="submit" name="submit" value="Save Student"/>
</form>
