<nav>
  <% if(user.id) { %>
    <form action="/sessions" method="POST">
      <br><br><a href="/students">Students</a>
	  <a href="/students/new">New Student</a>
	  <br><br>
	  <a href="/teachers">Teachers</a>
	  <a href="/teachers/new">New Teacher</a>
	  <br><br>
	  <input type="hidden" name="_method" value="DELETE">     
	  <input type="submit" value="Logout"> 
    </form>
    <p>Welcome, <%= user.first_name %></p>
  <% } else { %>
    <a href="/sessions/new">Login</a>
    <a href="/users/new">Register</a>
  <% } %>
</nav>
