<form action="/teachers/<%= teachers.id %>" method="POST">

	<% if (edit) { %>
	<input type="hidden" name="_method" value="PUT">
	<% } %>

	<input type="text" name="firstname" placeholder="First name" value="<%= teachers.firstname%>" required/>
	<input type="text" name="secondname" placeholder="Second name" value="<%= teachers.secondname%>" required/>
	<input type="text" name="subject" placeholder="Subject" value="<%= teachers.subject%>" required/>


	<input type="submit" name="submit" value="Save Teacher" />
</form>
