<!DOCTYPE html>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <% include ./partials/navigation %>

   <%- body %>
 </body>
</html>