<table border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Year</th>
    <th>Options</th>
  </tr>
  <tr>
    <td><%=student.firstname%></td>
    <td><%= student.secondname%></td>
    <td><%= student.Year%></td>
    <td><a href="/students/<%= student.id%>/edit"> Edit Student</a></td>
  </tr>
</table>