<h1>Welcome to the Homepage</h1>

<p>Choose the options below or above to continue</p>

<div id="home">
<a class="home-page-btn" href="/students">Student interface</a>
<a class="home-page-btn" href="/teachers">Teachers interface</a>
</div>