<div id="login-align">
	<form action="/sessions" method="POST" id="login-form">
	    <div>
	        <label>Email</label>
	        <input type="text" name="email" placeholder="Email">
	    </div>
	    <div>
	        <label>Password</label>
	        <input type="password" name="password" placeholder="Password">
	    </div>

	    <input type="submit" value="Login">
	</form>
</div>
