<form action="/:id/edit">
 id:<br>
 <input type="text" name="id"><br>
 first name:<br>
 <input type="text" name="fname"><br>
 second name:<br>
 <input type="text" name="sname">
 subject:<br>
 <input type="text" name="subject">
</form>